In [12]:
import pandas as pd
import pickle

ModuleNotFoundError: No module named 'pandas'

In [5]:
df1=pd.read_csv("ipl.csv")

NameError: name 'pd' is not defined

In [3]:
df1.head()

   mid        date                  venue  ... striker non-striker total
0    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
1    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
2    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
3    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
4    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222

[5 rows x 15 columns]

In [4]:
#data cleaning
# removing unwanted columns
columns_remove=['mid','venue','batsman','striker','non-striker','bowler']
df1.drop(labels=columns_remove,axis=1,inplace=True)

KeyError: "['mid' 'venue' 'batsman' 'striker' 'non-striker' 'bowler'] not found in axis"

In [5]:
df1.shape

(76014, 9)

In [6]:
df1['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [7]:
#kepping only consistent teams
consistent_team=['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
        'Sunrisers Hyderabad'
       ]

In [8]:
df1=df1[(df1['bat_team'].isin(consistent_team)) & (df1['bowl_team'].isin(consistent_team))]

In [9]:
#removing the first 5 over data in ever match
df1=df1[df1['overs']>=5.0]

In [10]:
df1.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222

In [11]:
from datetime import datetime
df1['date']=df1['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [12]:
#data preprocessing
#converting categorical features using OneHotEncoding method
encoded=pd.get_dummies(data=df1,columns=['bat_team','bowl_team'])

In [13]:
encoded.head()

         date  ...  bowl_team_Sunrisers Hyderabad
32 2008-04-18  ...                              0
33 2008-04-18  ...                              0
34 2008-04-18  ...                              0
35 2008-04-18  ...                              0
36 2008-04-18  ...                              0

[5 rows x 23 columns]

In [14]:
encoded.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [13]:
encoded1=encoded['total']
encoded1

32       222
33       222
34       222
35       222
36       222
        ...
75884    107
75885    107
75886    107
75887    107
75888    107
Name: total, Length: 40108, dtype: int64

In [14]:
encoded.drop(labels="total",axis=1,inplace=True)

In [15]:
encoded1

32       222
33       222
34       222
35       222
36       222
        ...
75884    107
75885    107
75886    107
75887    107
75888    107
Name: total, Length: 40108, dtype: int64

In [44]:
encoded.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'bat_team_Chennai Super Kings', 'bat_team_Deccan Chargers',
       'bat_team_Delhi Daredevils', 'bat_team_Gujarat Lions',
       'bat_team_Kings XI Punjab', 'bat_team_Kochi Tuskers Kerala',
       'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians',
       'bat_team_Pune Warriors', 'bat_team_Rajasthan Royals',
       'bat_team_Rising Pune Supergiant', 'bat_team_Rising Pune Supergiants',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Deccan Chargers',
       'bowl_team_Delhi Daredevils', 'bowl_team_Gujarat Lions',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kochi Tuskers Kerala',
       'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians',
       'bowl_team_Pune Warriors', 'bowl_team_Rajasthan Royals',
       'bowl_team_Rising Pune Supergiant', 'bowl_team_Rising Pune Supergiants',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [16]:
X_train=encoded[encoded['date'].dt.year<=2016]

In [50]:
X_test=encoded[encoded['date'].dt.year>=2017]

AttributeError: Can only use .dt accessor with datetimelike values

In [21]:
X_train.shape

(37330, 22)

In [22]:
y_train=encoded1.iloc[:37330].values
y_test=encoded1.iloc[37330:].values

In [23]:
X_train.drop(labels='date',axis=True,inplace=True)
X_test.drop(labels='date',axis=True,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
## Ridge Regression
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [43]:
ridge=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40]}
ridge_regressor=GridSearchCV(ridge,parameters,scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(X_train,y_train)

NameError: name 'Ridge' is not defined

In [34]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

NameError: name 'ridge_regressor' is not defined

In [ ]:
prediction=ridge_regressor.predict(X_test)

In [42]:
import seaborn as sns
sns.distplot(y_test-prediction)

NameError: name 'y_test' is not defined

In [36]:
from sklearn import metrics
import numpy as np
print('MAE:', metrics.mean_absolute_error(y_test, prediction))
print('MSE:', metrics.mean_squared_error(y_test, prediction))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, prediction)))

ModuleNotFoundError: No module named 'sklearn.utils'

In [30]:
#for deployment
filename="First-innings-score.pk1"
pickle.dump(ridge_regressor,open(filename,"wb"))